{% extends "base_generic.html" %}

{% block title %}<title>library home page</title>{% endblock %}

{% block content %}
	<h1>Books Library</h1>
	<p> Welcome to the library, read and rule!</p>
	<p> The library has the following record counts: </p>
	<ul>
		<li><strong>Books:</strong> {{ num_books }} </li>
		<li><strong>Copies:</strong> {{ num_instances }} </li>
		<li><strong>Copies available:</strong> {{ num_instances_available }} </li>
		<li><strong>Authors:</strong> {{ num_authors }} </li>
	</ul>

	<p> you have visited this page {{ num_visits }}{% if num_visists == 1 %} time {% else %} times {% endif %}.</p>
{% endblock %}